__pycache__/
*.py[cdo]

build/
dist/
docs/_build/

.eggs/
*.egg-info/
*.egg

.venv/
.venv.nt/
.cache/
.tox/
.idea/
.project/
.vscode/
*.code-workspace

.mypy_cache/
.ruff_cache/
.pytest_cache/
.python_version
*.log*

*.csr
# *.pem

supervisord.pid
supervisord.hist

**/.DS_Store

